@charset "UTF-8";
/*!Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, :after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------*/
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../img/Golden.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 700px;
}
.intro__block {
  margin: 278px auto 159px;
}
.intro__title {
  width: 100%;
  max-width: 920px;
  text-align: center;
  margin: 0 auto;
}
.intro__title h2 {
  font-size: 40px;
  margin-bottom: 48px;
  color: #fff;
  font-style: italic;
}
.intro__title h1 {
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.intro__title a {
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 50px;
  padding: 25px 50px;
  background-color: #fed136;
  transition: background 0.2s linear;
}
.intro__title a:hover {
  background-color: #9c7b02;
}

.hdr {
  width: 100%;
  padding-top: 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.hdr__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hdr__logo {
  color: #fed136;
  font-size: 26px;
}
.hdr .hdr__nav {
  font-size: 14px;
  text-transform: uppercase;
}
.hdr .hdr__nav a {
  color: #fff;
  margin-left: 40px;
  transition: color 0.2s linear;
}
.hdr .hdr__nav a:hover {
  color: #c29a0b;
}

.block-title {
  padding: 120px 0px 80px;
  text-align: center;
}
.block-title h1 {
  color: #333;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.block-title h3 {
  font-size: 16px;
  color: #777;
  font-style: italic;
}

.services {
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
}
.services__block {
  flex: 0 0 290px;
  text-align: center;
}
.services__block img {
  padding-bottom: 25px;
  display: block;
  margin: auto;
  transition: opacity 0.2s linear;
}
.services__block p {
  font-weight: 700;
  color: #333;
  font-size: 18px;
  transition: color 0.2s linear;
}
.services__block div {
  color: #777;
  transition: opacity 0.2s linear;
}
.services__block:nth-child(2n) {
  padding-top: 4px;
}
.services__block:hover img {
  opacity: 0;
}
.services__block:hover p {
  color: #fed136;
}
.services__block:hover div {
  opacity: 0;
}

.section__portfolio {
  background-color: #f7f7f7;
  padding-bottom: 120px;
}
.section__portfolio .portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -35px;
  justify-content: center;
}
.section__portfolio .portfolio__anim {
  position: relative;
  padding: 17.5px;
  margin: 0 0 32.5px;
  z-index: 0;
  transition: background 0.2s linear;
}
.section__portfolio .portfolio__block {
  position: relative;
  z-index: 1;
  height: 390px;
  background-color: #fff;
  text-align: center;
  transition: opacity 0.2s linear;
}
.section__portfolio .portfolio__block img {
  padding-bottom: 27px;
}
.section__portfolio .portfolio__block h2 {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  padding-bottom: 5px;
}
.section__portfolio .portfolio__block h3 {
  color: #777;
  font-style: italic;
  font-size: 14px;
}
.section__portfolio .portfolio .opacity {
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 45%;
  font-size: 23px;
  font-weight: 700;
  color: #333;
  opacity: 1;
  word-spacing: 6px;
  transition: opacity 0.2s linear;
}
.section__portfolio .portfolio .opacity-1 {
  left: 65px;
}
.section__portfolio .portfolio .opacity-2 {
  left: 42px;
}
.section__portfolio .portfolio .opacity-3 {
  left: 60px;
}
.section__portfolio .portfolio .opacity-4 {
  left: 67px;
}
.section__portfolio .portfolio .opacity-5 {
  left: 22px;
}
.section__portfolio .portfolio .opacity-6 {
  left: 72px;
}
.section__portfolio .portfolio__anim:hover {
  background-color: #fed136;
}
.section__portfolio .portfolio__anim:hover .bord {
  opacity: 0.1;
}
.section__portfolio .portfolio__anim:hover .opacity {
  opacity: 1;
}

.about {
  padding-bottom: 120px;
}
.about__block-right {
  justify-content: center;
  position: relative;
  display: flex;
  text-align: center;
  right: -132px;
  flex-direction: row-reverse;
}
.about__block-left {
  justify-content: center;
  position: relative;
  display: flex;
  text-align: center;
  right: 140px;
}
.about__image {
  margin: 0 45px;
}
.about__image:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 93px;
  background-color: #f1f1f1;
}
.about__text-left {
  width: 270px;
  line-height: 1.5;
  text-align: right;
}
.about__text-right {
  width: 270px;
  line-height: 1.5;
  text-align: left;
}
.about__title-left, .about__title-right {
  font-size: 18px;
}
.about__title-left h2, .about__title-right h2 {
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
.about__title-left a, .about__title-right a {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}
.about__title-left a:hover, .about__title-right a:hover {
  text-decoration: underline;
}
.about span {
  font-size: 14px;
  color: #777;
}
.about__yellow {
  text-align: center;
  width: 183px;
  height: 183px;
  border: #f1f1f1 7px solid;
  border-radius: 50%;
  background-color: #fed136;
  margin: 0 auto;
}
.about__yellow div {
  margin: 25% auto;
  width: 100px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.team {
  background-color: #f7f7f7;
  padding-bottom: 100px;
}
.team__block {
  justify-content: space-around;
  display: flex;
  width: 780px;
  margin: 0 auto;
}
.team__item {
  text-align: center;
}
.team__item img {
  padding-bottom: 25px;
}
.team__item h2 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 8px;
}
.team__item h3 {
  font-size: 14px;
  padding-bottom: 13px;
  color: #777;
}
.team__social a {
  display: inline-block;
  font-size: 18px;
  color: #333;
  border: 3px solid #333;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  margin: 0 4px;
  transition: color 0.2s linear, background 0.2s linear;
}
.team__social a:hover {
  color: #fff;
  background-color: #333;
}
.team__social i {
  padding-top: 20%;
}
.team__text {
  width: 525px;
  text-align: center;
  margin: 50px auto 120px;
  font-size: 16px;
  color: #777;
  line-height: 1.5;
}

.logos {
  display: flex;
  width: 780px;
  margin: 0 auto;
}
.logos img {
  margin: 60px 20px 63px;
}

.contact {
  padding-bottom: 115px;
  text-align: center;
  background: url(../img/Contact.jpg) center no-repeat;
  background-size: cover;
}
.contact__form {
  display: flex;
  justify-content: space-between;
}
.contact ::placeholder {
  font-size: 14px;
  color: #bbb;
}
.contact__data input {
  width: 460px;
  max-width: 100%;
  padding: 19px;
  border-radius: 4px;
  margin-bottom: 25px;
  flex: 0 1 460px;
  text-transform: uppercase;
}
.contact textarea {
  padding: 20px;
  border-radius: 4px;
  width: 460px;
  max-width: 100%;
  height: 210px;
  flex: 0 1 auto;
  text-transform: uppercase;
}
.contact button {
  border-radius: 4px;
  padding: 25px 45px;
  text-transform: uppercase;
  background-color: #fed136;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  transition: background 0.2s linear;
}
.contact button:hover {
  background-color: #c29a0b;
}

.footer {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}
.footer__social {
  margin-right: 40.5%;
}
.footer a {
  display: inline-block;
  font-size: 16px;
  background: #333;
  color: #fff;
  border: 3px solid #333;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  margin: 0 4px;
  transition: color 0.2s linear, background 0.2s linear;
}
.footer a:hover {
  color: #333;
  background-color: #fff;
}
.footer i {
  padding-top: 24%;
}
.footer .copyright {
  font-size: 14px;
  color: #555;
}