@import "nullstyle.scss";

$cblack: #333;
$cwhite: #fff;
$cgrey: #777;
$cbtn: #fed136;
$fztext: 14px;
$fzsubtitle: 16px;
$fztitle: 18px;

body {
	width: 100%;
	font-family: "Montserrat", sans-serif;
}
.container {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
}
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("../img/Golden.jpg") center no-repeat;
	background-size: cover;
	position: relative;
	min-height: 700px;
	&__block {
		margin: 278px auto 159px;
	}
	&__title {
		width: 100%;
		max-width: 920px;
		text-align: center;
		margin: 0 auto;
		h2 {
			font-size: 40px;
			margin-bottom: 48px;
			color: $cwhite;
			font-style: italic;
		}
		h1 {
			font-size: 75px;
			font-weight: 700;
			text-transform: uppercase;
			color: $cwhite;
		}
		a {
			color: $cwhite;
			display: inline-block;
			border-radius: 5px;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 700;
			margin-top: 50px;
			padding: 25px 50px;
			background-color: $cbtn;
			transition: background 0.2s linear;
		}
		a:hover {
			background-color: #9c7b02;
		}
	}
}
.hdr {
	width: 100%;
	padding-top: 50px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		color: #fed136;
		font-size: 26px;
	}
	.hdr__nav {
		font-size: $fztext;
		text-transform: uppercase;
		a {
			color: $cwhite;
			margin-left: 40px;
			transition: color 0.2s linear;
		}
		a:hover {
			color: #c29a0b;
		}
	}
}
.block-title {
	padding: 120px 0px 80px;
	text-align: center;
	h1 {
		color: $cblack;
		font-size: 40px;
		font-weight: 700;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	h3 {
		font-size: $fzsubtitle;
		color: $cgrey;
		font-style: italic;
	}
}
.services {
	padding-bottom: 120px;
	display: flex;
	justify-content: space-between;
	&__block {
		flex: 0 0 290px;
		text-align: center;
		img {
			padding-bottom: 25px;
			display: block;
			margin: auto;
			transition: opacity 0.2s linear;
		}
		p {
			font-weight: 700;
			color: $cblack;
			font-size: $fztitle;
			transition: color 0.2s linear;
		}
		div {
			color: $cgrey;
			transition: opacity 0.2s linear;
		}
	}
	&__block:nth-child(2n) {
		padding-top: 4px;
	}
	&__block:hover {
		img {
			opacity: 0;
		}
		p {
			color: #fed136;
		}
		div {
			opacity: 0;
		}
	}
}
.section__portfolio {
	background-color: #f7f7f7;
	padding-bottom: 120px;
	.portfolio {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -35px;
		justify-content: center;
		&__anim {
			position: relative;
			padding: 17.5px;
			margin: 0 0 32.5px;
			z-index: 0;
			transition: background 0.2s linear;
		}
		&__block {
			position: relative;
			z-index: 1;
			height: 390px;
			background-color: $cwhite;
			text-align: center;
			transition: opacity 0.2s linear;
			img {
				padding-bottom: 27px;
			}
			h2 {
				display: block;
				font-size: $fztitle;
				font-weight: 700;
				color: $cblack;
				padding-bottom: 5px;
			}
			h3 {
				color: $cgrey;
				font-style: italic;
				font-size: $fztext;
			}
		}
		.opacity {
			text-transform: uppercase;
			position: absolute;
			z-index: 1;
			top: 45%;
			font-size: 23px;
			font-weight: 700;
			color: #333;
			opacity: 1;
			word-spacing: 6px;
			transition: opacity 0.2s linear;
		}
		.opacity-1 {
			left: 65px;
		}
		.opacity-2 {
			left: 42px;			
		}
		.opacity-3 {
			left: 60px;
		}
		.opacity-4 {
			left: 67px;
		}
		.opacity-5 {
			left: 22px;
		}
		.opacity-6 {
			left: 72px;
		}
		&__anim:hover {
			background-color:  #fed136;
			.bord {
				opacity: 0.1;
			}
			.opacity {
				opacity: 1;
			}
		}
	}
}
.about {
	padding-bottom: 120px;
	&__block-right {
		justify-content: center;
		position: relative;
		display: flex;
		text-align: center;
		right: -132px;
		flex-direction: row-reverse;
	}
	&__block-left {
		justify-content: center;
		position: relative;
		display: flex;
		text-align: center;
		right: 140px;
	}
	&__image {
		margin: 0 45px;
	}
	&__image:after {
		content: "";
		display: block;
		margin: 0 auto;
		width: 2px;
		height: 93px;
		background-color: #f1f1f1;
	}
	&__text-left{
		width: 270px;
		line-height: 1.5;
		text-align: right;
	}
	&__text-right{
		width: 270px;
		line-height: 1.5;
		text-align: left;
	}
	&__title-left, &__title-right {
		font-size: $fztitle;
		h2 {
			font-weight: 700;
			color: $cblack;
			text-transform: uppercase;
		}
		a {
			font-weight: 700;
			margin-bottom: 10px;
			font-size: $fztitle;
			color: $cblack;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	span {
		font-size: $fztext;
		color: $cgrey;
	}
	&__yellow {
		text-align: center;
		width: 183px;
		height: 183px;
		border: #f1f1f1 7px solid;
		border-radius: 50%;
		background-color: #fed136;
		margin: 0 auto;
		div {
			margin: 25% auto;
			width: 100px;
			color: #fff;
			font-weight: 700;
			font-size: 18px;
			text-transform: uppercase;
		}
	}
}
.team {
	background-color: #f7f7f7;
	padding-bottom: 100px;
	&__block	{
		justify-content: space-around;
		display: flex;
		width: 780px;
		margin: 0 auto;
		}
	&__item {
		text-align: center;
		img {
			padding-bottom: 25px;
		}
		h2 {
			font-size: $fzsubtitle;
			font-weight: 700;
			padding-bottom: 8px;
		}
		h3 {
			font-size: $fztext;
			padding-bottom: 13px;
			color: $cgrey;
		}
	}
	&__social {
		a {
			display: inline-block;
			font-size: 18px;
			color: #333;
			border: 3px solid #333;
			border-radius: 50%;
			width: 34px;
			height: 34px;
			margin: 0 4px;
			transition: color 0.2s linear, background 0.2s linear;
		}
		a:hover {
			color: #fff;
			background-color: #333;
		}
		i {
			padding-top: 20%;
		}
	}
	&__text {
		width: 525px;
		text-align: center;
		margin: 50px auto 120px;
		font-size: $fzsubtitle;
		color: $cgrey;
		line-height: 1.5;
	}
	
}
.logos {
	display: flex;
	width: 780px;
	margin: 0 auto;
	img {
		margin: 60px 20px 63px;
	}
}
.contact {
	padding-bottom: 115px;
	text-align: center;
	background: url(../img/Contact.jpg) center no-repeat;
	background-size: cover;
	&__form {
		display: flex;
		justify-content: space-between;
	}
	::placeholder {
		font-size: 14px;
		color: #bbb;
	}
	&__data {
		input {
			width: 460px;
			max-width: 100%;
			padding: 19px;
			border-radius: 4px;
			margin-bottom: 25px;
			
			flex: 0 1 460px;
			text-transform: uppercase;
		}
	}
	textarea {
		padding: 20px;
		border-radius: 4px;
		width: 460px;
		max-width: 100%;
		height: 210px;
		flex: 0 1 auto;
		text-transform: uppercase;
	}
	button {
		border-radius: 4px;
		padding: 25px 45px;
		text-transform: uppercase;
		background-color: $cbtn;
		font-weight: 700;
		color: $cwhite;
		font-size: 18px;
		transition: background 0.2s linear;
	}
	button:hover {
		background-color: #c29a0b;
	}
}
.footer {
	display: flex;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 20px 0;
	&__social {
		margin-right: 40.5%;
	}
	a {
		display: inline-block;
		font-size: 16px;
		background: #333;
		color: #fff;
		border: 3px solid #333;
		border-radius: 50%;
		width: 34px;
		height: 34px;
		margin: 0 4px;
		transition: color 0.2s linear, background 0.2s linear;
	}
	a:hover {
		color: #333;
		background-color: #fff;
	}
	i {
		padding-top: 24%;
	}
	.copyright {
		font-size: 14px;
		color: #555;
	}
}
	// Проверка GIt